@font-face {
  font-family: 'Lucky Beauty';
  src: url('../../assets/fonts/Lucky Beauty.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../assets/fonts/Aeonik-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../assets/fonts/Aeonik-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../assets/fonts/Aeonik-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../assets/fonts/Aeonik-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../../assets/fonts/Aeonik-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rebond Grotesque';
  src: url('../../assets/fonts/ESRebondGrotesqueTRIAL-Bold-BF66189040400df.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
